@model List<Doctor>


<a asp-controller="Doctores" asp-action="Create">Crear</a>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area=""
       asp-controller="Doctores"
       asp-action="DoctoresEspecialidad">Doctores By Especialidad</a>
</li>

<table class="table table-striped">

    <thead>
    <tr>
        <th>Id</th>
        <th>Apellido</th>
        <th>Especialidad</th>
        <th>Salario</th>
        <th>Hospital</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    
    @foreach (Doctor doc in Model)
    {
        <tr>
            <td>@doc.IdDoctor</td>
            <td>@doc.Apellido</td>
            <td>@doc.Especialidad</td>
            <td>@doc.Salario</td>
            <td>@doc.IdHospital</td>
            <td><a asp-controller="Doctores" asp-action="Update"
                   asp-route-idDoctor="@doc.IdDoctor"
                   class="btn btn-primary">
                Update
            </a></td>
            <td><a asp-controller="Doctores" asp-action="Delete"
                   asp-route-iddoctor="@doc.IdDoctor"
                   class="btn btn-danger">
                Eliminar
            </a></td>
        </tr>
    }
    </tbody>
</table>

